#Home {
    background-image: url('images/image2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    color: white;
    text-align: center;
    h3{
        margin-bottom: 180px;
        color: rgb(188, 188, 188); 
    }
}#Aboutme{
    padding-top: 50px;
    padding-left: 30px;
    color: white;
    background-image: url('images/image3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 40px; 
    min-height: 90vh;
}
#Skillset{
    padding-top: 50px;
    padding-left: 30px;    
    background-image: url('images/image10.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 40px; 
    min-height: 60vh;
}
#Works{
    padding-top: 70px;
    padding-left: 30px;
    text-align: center;
    background-image: url('images/image11.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px; 
    background-position: center;
    min-height: 70vh;
    color: white;
}
#Viginere{
    min-height: 60vh;
    color: white;
} img{
    border-radius: 40px;
    max-width: 100%;
    display: block;
}