#Home {
    background-image: url('images/image2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-position: center;
    max-height: 500px;
    max-width: 2000px;
    width: 100%;
    color: white;
    text-align: center;
    h3{
        margin-bottom: 240px;
        color: rgb(188, 188, 188); 
    }
}#Aboutme{
    padding-top: 50px;
    padding-left: 30px;
    color: white;
    background-image: url('images/image3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 40px; 
    min-height: 70vh;
    height: 100%;
}
#Skillset{
    padding-top: 50px;
    padding-left: 30px;    
    background-image: url('images/image10.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 40px; 
    min-height: 70vh;
    height: 100%;
}
#Works{
    padding-top: 70px;
    padding-left: 30px;
    text-align: center;
    background-image: url('images/image11.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px; 
    background-position: center;
    min-height: 70vh;
    height: 100%;
    color: white;
}
#Doodle img{
    width: 80%;
    margin: 0 auto;
}
#Viginere{
    width: 80%;
    color: white;
}
#Viginere img{
    width: 80%;
    margin: 0 auto;
}
img{
    border-radius: 40px;
    max-width: 100%;
    display: block;
}#Bakery img{
    width:80%;
    margin: 0 auto;
}