/*Header*/
header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(49, 49, 50);
    color: white;
}
header h2 {
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;             /* space between each nav link */
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
header nav a:hover {
    color: grey;
}
/*Home*/
#Home {
    background-image: url('images/image2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    text-align: center;
    h3{
        margin-bottom: 250px;
        color: rgb(188, 188, 188); 
    }
}
/*Body*/
body{
    h1{
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    margin-bottom: 0px
    }
    h3{
    margin-bottom: 250px;
    font-size: 20px;
    font-family: 'Inter', Medium;
    color: rgb(188, 188, 188); 
    }
    background-color: black;
}