
body{
    background-image: url('"C:\Users\Asus\OneDrive - Board of Education of SD 39 (Vancouver)\Capstone_project\image 2.png"'); /* Path to your image */
    background-size: cover;       /* Makes the image cover the whole screen */
    background-repeat: no-repeat; /* Prevents repeating */
    background-position: center;  /* Centers the image */
    font-family: Arial, sans-serif;
    color: black;
}
