/*Header*/
header {
    a{
        text-decoration: none;
    }
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(49, 49, 50);
    color: white;
}
header h2 {
    color: white;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
header nav a:hover {
    color: grey;
}
/*Body*/
body{
    h1{
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    margin-bottom: 0px
    }
    h3{
    margin-bottom: 250px;
    font-size: 20px;
    font-family: 'Inter', Medium;
    color: rgb(188, 188, 188); 
    }h4{
    font-size: 20px;
    font-family: 'Inter', Medium;
    color: rgb(188, 188, 188); 
    }
    background-color: black;
    color: white;
}
#Skillset{
    list-style-type: square;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 70px;
}
#Contact{
    font-family: 'inter', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 150px;
    h1{
        margin-bottom: 30px;
    }div{
        margin-bottom: 15px;
    }
}textarea{
    width: 300px;
    height: 100px;
    border-radius: 10px;
}.Gallery{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    img{
    border-radius: 50%;
    width: 100px;
    object-fit: cover;
    height: 100px;
    }
}