header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
}
#Home {
  background-image: url('"C:\Users\Asus\OneDrive - Board of Education of SD 39 (Vancouver)\Desktop\Capstone desktop\images\image2.png"'); /* avoid spaces in filenames for safety */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}